<doctype html>
<title>Добавить студента - Python Flask MySQL</title>
<style>
	body {
		background-color:yellow;
	}
</style>
<h2>Добавить студента</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputName" value="" type="text" placeholder="Имя" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEmail" value="" type="text" placeholder="Почта" autocomplete="off" required>
		</p>
		<p>
			<input name="inputGroup" value="" type="text" placeholder="Группа" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Подтвердить">
	</p>
</form>